body {
  padding-top: 50px;
}

nav{
  font-size: 20px;
  background-color: black;
}

nav a{
  font-size: 20px;
}

img {
  max-width:100%;
  max-height:100%;
}

#face {
  border-radius: 50%;
}


div #portfolio {
  border: 2px solid white;
  border-radius: 5px;
}

div #portfolio2 {
  border: 2px solid white;
  border-radius: 5px;
}

#portfolio li {
  padding-top: 10px;
  font-size: 16px;
}

#portfolio2 li {
  padding-top: 10px;
  font-size: 16px;
}
